<div [style.display]="!enableRuleBuilder ? 'block' : 'none'">
    <div class="col-md-12 m-t-10">
        <div class="col-md-6">
            <div class="form-group text-left m5">
                <input type="text" class="form-control mandatory" [disabled]="enableNewChecklistItem" (ngModelChange)="CheckListNameDuplicationCheck($event)" [(ngModel)]="sysCheckListName" required="">
                <label class="control-label" for="input">System Checklist Group Name</label><i class="bar"></i>
            </div>
        </div>
        <div class="col-md-2" *ngIf="checkListType === 'createEdit'">
            <button class="btn btn-secondary btn-info waves-effect waves-light m-r-8" *ngIf="!enableNewChecklistItem" (click)="SaveSysCheckList()" type="button"><i class="material-icons">add_circle_outline</i>&nbsp;Add</button>
            <button type="button" class="btn btn-secondary waves-effect waves-light bg-white" *ngIf="!enableNewChecklistItem" title="Cancel" type="button" (click)="CloseAddSysCheckListModal()"><i class="material-icons">clear</i></button>
        </div>
    </div>
    <div class="col-md-12 m-t-10" [style.display]="showTable ? 'block' : 'none'">
        <div class="row m-t-10 m-b-10">
            <div class="col-md-6 text-left">
                <button class="btn btn-defult btn-sm waves-effect waves-light" *ngIf="enableNewChecklistItem" (click)="selectRowData()"> 
                    <i *ngIf="!isRowSelectrDeselect"  class="fa fa-check-square-o"></i>
                    <i *ngIf="isRowSelectrDeselect"  class="fa fa-square-o"></i>&nbsp;&nbsp;{{isRowSelectrDeselect ? 'Select All' : 'Deselect' }}
            </button>
            </div>
            <div class="col-md-6 text-right" id="downloadButton">
                <button class="btn btn-primary btn-sm waves-effect waves-light" *ngIf="enableNewChecklistItem" (click)="NewCheckListItemCreation()">
                <span class="fa fa-plus-circle"></span>&nbsp;&nbsp;New Checklist Item </button>
                <button class="btn btn-info btn-sm waves-effect waves-light" *ngIf="enableNewChecklistItem" (click)="CloneSysCheckListItemCreation()" [disabled]="isRowNotSelected">
                <span class="fa fa-clone"></span>&nbsp;&nbsp;Clone Item</button>
                <button class="btn btn-danger btn-sm waves-effect waves-light" *ngIf="enableNewChecklistItem" [disabled]="isRowNotSelected" (click)="DeleteMsgModal.show()">
                <i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</button>
            </div>

        </div>
        <div [cgBusy]="promise" class="table-panel editChecklistTable">
            <table datatable [dtOptions]="dtOptions" class="wrapperTable table table-bordered table-striped table-borderless table-responsive" style="width: 100%;"></table>
        </div>
    </div>
    <div class="col-md-12 m-t-50" [style.display]="!showTable ? 'block' : 'none'">
        <div class="table-panel">
            <table class="table table-bordered table-striped table-borderless table-responsive">
                <thead>
                    <tr>
                        <th style="width: 50%;">
                            Checklist Item Name
                        </th>
                        <th style="width: 50%;">
                            Formula
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-left">
                        <td>{{viewCheckListName}}</td>
                        <td>{{viewCheckListFormula}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-default pull-right waves-effect waves-light" (click)="showTable = !showTable"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Cancel</button>
    </div>
    <div bsModal #cloneMsgModal="bs-modal" [config]="{backdrop: false}" class="modal fade gap_top" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <h5 class="modal-title">New Checklist Item Name</h5>
                </div>
                <hr class="fancy-line">
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group text-left">
                            <input type="text" #cloneSysCheckList="ngModel" [(ngModel)]="cloneSysCheckListItem" (ngModelChange)="sysChecklistItemChange()" required="">
                            <label for="input" class="control-label">Checklist Item Name</label>
                            <i class="bar"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer p10">
                    <button class="btn btn-info waves-effect waves-light" [disabled]="cloneSysCheckList.invalid" (click)="CloneSysConfirmMsg()">Yes</button>
                    <button type="button" class="btn btn-secondary waves-effect waves-light bg-white" data-dismiss="modal" autofocus (click)="cloneMsgModal.hide()">No</button>
                </div>
            </div>
        </div>
    </div>
    <div bsModal #DeleteMsgModal="bs-modal" [config]="{backdrop: false}" class="modal fade gap_top" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <h5 class="modal-title">Confirm</h5>
                </div>
                <hr class="fancy-line ">
                <div class="modal-body text-left ">
                    Are you sure you want to delete the selected checklist item(s) ?
                </div>
                <div class="modal-footer p10 ">
                    <button class="btn btn-info waves-effect waves-light " (click)="DeleteConfirm() ">Yes</button>
                    <button type="button " class="btn btn-secondary waves-effect waves-light " data-dismiss="modal " autofocus (click)="DeleteMsgModal.hide() ">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="enableRuleBuilder">
    <mts-rule-builder></mts-rule-builder>
</div>