<div class="p20">
    <h5 class="text-right m10 m-t-0">
        <small class="txt-themeRed">Use @ for Document Name, $ for Document Field, : for User Name</small>
    </h5>
    <div class="chat">
        <div class="chat_room">
            <div class="col-md-12" *ngFor="let noteItem of LoanNotes">

                <div class="chat_note " [ngClass]='addClasses(noteItem.UserId)'>
                    <span>{{UserID == noteItem.UserId ? 'You':noteItem.UserName}}
                    </span>
                    <span>{{noteItem.Timestamp}}</span>
                    <span>{{noteItem.Note}}</span>
                </div>
            </div>

            <div class="text-center text-muted p-t-35 chatEmptyFont" *ngIf="!LoanNotes || LoanNotes.length==0">
                Start Conversation
            </div>
        </div>
        <div class="chat_send" style="background-color: #ECEFF1;padding:10px;border-radius: 0 0 4px 4px;">
            <div class="row">
                <div class="col-md-11 p-r-0 dropdownPosition">
                    <textarea *ngIf="showMentionPlus" rows="1" [(ngModel)]="notesTxtArea" class="form-control msg_text" id="notesTxtArea" [mentionConfig]="mentionConfig"></textarea>
                </div>
                <div class="col-md-1 p-l-0 p-r-0">
                    <button (click)="updateLoannotes()" class="btn btn-info btn-block msg_btn">
                        <i class="material-icons">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>