<div class="m-t-15">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ul id="progressbar">
                <li id="litab2" [ngClass]="stepModel.stepOneClass">
                    <a id="tab1" title="" href="javascript:void(0);">Selected Loan</a>
                </li>
                <li id="litab3" [ngClass]="stepModel.stepTwoClass">
                    <a id="tab2" title="" href="javascript:void(0);">Selected Documents</a>
                </li>
                <li id="litab4" [ngClass]="stepModel.stepThreeClass">
                    <a id="tab3" title="" href="javascript:void(0);">Configuration</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="horizontal">
                <div class="slider">
                    <div class="slides" #slidesDiv>
                        <div id="slide-1" [ngClass]="slideOneTranClass">
                            <div class="box m-b-0">
                                <div [ngSwitch]="stepModel.stepID">
                                    <div *ngSwitchCase="loanExportSteps.LoanSelect">
                                        <mts-select-loan></mts-select-loan>
                                    </div>
                                    <div *ngSwitchCase="loanExportSteps.DocumentSelect">
                                        <mts-select-documents></mts-select-documents>
                                    </div>
                                    <div *ngSwitchCase="loanExportSteps.Configuration">
                                        <mts-configurations></mts-configurations>
                                    </div>
                                </div>
                                <div class="box-footer p-t-5 p-b-5">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <button type="button" (click)="backtoBatch()" class="btn btn-secondary bg-white waves-effect waves-light">
                                            <i class="material-icons">close</i>&nbsp;Cancel</button>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button type="button" [disabled]="_previousStep" (click)="SetPrevious()" class="btn btn-info waves-effect waves-light">
                                            <span class="fa fa-arrow-left"></span>&nbsp;&nbsp;Previous</button>
                                            <button type="button" (click)="SetNext()" class="btn  btn-info waves-effect waves-light m-l-5">Save&nbsp;&&nbsp;Next&nbsp;&nbsp;
                                            <span class="fa fa-arrow-right"></span>
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div bsModal #coverLetterConfirmModal="bs-modal" class="modal fade" [config]="{backdrop: 'static', keyboard: false}" role="dialog">
        <div class="modal-dialog modal-sm" style="width: 1019px;;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cover Letter</h5>
                </div>
                <!--<h5 class="text-right m10">
                <small class="txt-themeRed">Use @ for Document Name </small>
              </h5>           -->
                <hr class="fancy-line">
                <div class="modal-body">
                    <div role="tabpanel" class="tab-pane tab5" id="send_email">
                        <div class="">
                            <div #coverLetter class="coverletter">
                                <div class="box-body">
                                    <div class="col-sm-12" style="float:none">
                                        <div class="form-group">
                                            <textarea required="required" tabindex="1" [(ngModel)]="To" id="to"></textarea>
                                            <label for="to" class="control-label">To:</label>
                                            <i class="bar"></i>
                                        </div>

                                    </div>
                                    <div class="col-sm-12" style="float:none">
                                        <div class="form-group">
                                            <textarea required="required" tabindex="2" [(ngModel)]="Subject" id="subject"></textarea>
                                            <label for="subject" class="control-label">Subject:</label>
                                            <i class="bar"></i>
                                        </div>

                                    </div>
                                    <div class="col-sm-12" style="float:none">
                                        <div class="form-group">
                                            <textarea rows="5" tabindex="3" required="required" [(ngModel)]="bodyContent" id="body"></textarea>
                                            <label for="body" class="control-label">Body:</label>
                                            <i class="bar"></i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="SaveCoverLetterContent()" class="btn btn-info waves-effect waves-light m-l-5">
                    <i class="material-icons">save</i> &nbsp;&nbsp;Save
                </button>
                    <button type="button" class="btn btn-secondary bg-white waves-effect waves-light" type="button" (click)="CancelCoverLetter()">
                    <i class="material-icons">cancel</i>&nbsp;&nbsp;Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div bsModal #PasswordconfirmModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm" style="width:510px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Password
                        <span class="pull-right" (click)="CancelPassword()" style="cursor: pointer">
                            <i class="material-icons"> close</i>
                        </span>
                    </h5>
                </div>
                <hr class="fancy-line">
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="">
                            <div class="form-group pwd_tooltip">
                                <ng-template #myTooltip class="" isFade="true" placement="left">
                                    <span placement="right" class="txt-indigo pwd-heading">Password must include:</span>
                                    <ul>
                                        <li><span placement="right" [style.color]="isMinLengthValid">8-20 Characters</span></li>
                                        <li><span placement="right" [style.color]="isUpperCaseCharacterExist">At least one capital letter</span></li>
                                        <li><span placement="right" [style.color]="isNumberExist">At least one number</span></li>
                                        <li><span placement="right" [style.color]="isValid">At least one special character</span></li>
                                    </ul>
                                </ng-template>
                                <input placement="right" [tooltip]="myTooltip" type="password" name="Answer" class="form-control mandatory" [(ngModel)]="_exportloanservice.Password" (ngModelChange)="CheckPasswordPolicy()" id="Password" required="">
                                <label class="control-label" for="input">Enter  Password</label><i class="bar"></i>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="">
                            <div class="form-group">
                                <input type="password" class="form-control mandatory" name="password" [(ngModel)]="_exportloanservice.ConfirmPassword" id="ConfirmPassword" required="">
                                <label class="control-label" for="input">Confirm Password</label><i class="bar"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button " class="btn btn-primary waves-effect waves-light" type="button" [disabled]="isDisabled" (click)="savePassword()">
                        <i class="material-icons">save</i>&nbsp;Save</button>
                    <button type="button" class="btn btn-secondary bg-white waves-effect waves-light" type="button" (click)="CancelPassword()">
                        <i class="material-icons">cancel</i>&nbsp;Cancel</button>
                </div>
            </div>
        </div>
    </div>