<div class="row m-t-15">
    <div class="col-md-8 col-md-offset-2">
        <div class="box">
            <div class="box-title">
                <div class="box-caption">
                    <span>View User</span>
                </div>
            </div>
            <div class="box-body">
                <div class="text-right pu_toggle">
                    <label class="tgl" style="font-size:14px">
                        <input name="Locked" [(ngModel)]="_viewUserRowData.Locked" type="checkbox"
                            disabled="disabled" />
                        <span data-on="Locked" data-off="Unlock"></span>
                    </label>
                    <label class="tgl" style="font-size:14px">
                        <input name="Active" [(ngModel)]="_viewUserRowData.Active" type="checkbox"
                            disabled="disabled" />
                        <span data-on="Active" data-off="Inactive"></span>
                    </label>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="UserName" [(ngModel)]="_viewUserRowData.UserName"
                            required="" disabled="disabled">
                        <label class="control-label" for="input">UserName</label><i class="bar"></i>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group ">
                        <input type="text " class="form-control " name="Email" [(ngModel)]="_viewUserRowData.Email "
                            required=" ">
                        <label class="control-label " for="input ">Email</label><i class="bar "></i>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="FirstName"
                            [(ngModel)]="_viewUserRowData.FirstName" required="" disabled="disabled">
                        <label class="control-label" for="input">First Name</label><i class="bar"></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="_viewUserRowData.LastName" name="LastName"
                            required="" disabled="disabled">
                        <label class="control-label" for="input">Last Name</label><i class="bar"></i>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="MiddleName"
                            [(ngModel)]="_viewUserRowData.MiddleName" required="" disabled="disabled">
                        <label class="control-label" for="input">Middle Name</label><i class="bar"></i>
                    </div>
                </div>
               
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="_viewUserRowData.UserAddressDetail.City"
                            name="City" required="" disabled="disabled">
                        <label class="control-label" for="input">City</label><i class="bar"></i>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="_viewUserRowData.UserAddressDetail.Country"
                            name="Country" required="" disabled="disabled">
                        <label class="control-label" for="input">Country</label><i class="bar"></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="_viewUserRowData.UserAddressDetail.ZipCode"
                            name="ZipCode" required="" disabled="disabled">
                        <label class="control-label" for="input">Zip Code</label><i class="bar"></i>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <ng-select #RoleDropDown [items]="roleItems" [active]="_viewUserRowData.activeRoles"
                            [multiple]="true" placeholder="--Select Role--" disabled="disabled"></ng-select>
                        <label class="control-label selected" for="input">Role</label>
                    </div>
                </div>
                <div class="col-md-6 p0">
                    <div class="form-group">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="CustomerName" name="CustomerName"
                                required="" disabled="disabled">
                            <label class="control-label selected" for="input">{{AuthorityLabelSingular}}</label><i
                                class="bar"></i>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-secondary bg-white waves-effect waves-light" type="button"
                            (click)="CloseUser()"><i class="material-icons">clear</i>&nbsp;Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>