.login-arrow {
    background-color: #ef5350;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    border-radius: 50%;
    color: #fff;
    line-height: 32px;
    cursor: pointer;
    margin-top: 15px;

}

#choose-role {
    position: absolute;
    /*top: 350px;*/
    transform: translate(0, 0px);
    left: 0px;
    width: 100%;
}

.signani {
    position: relative;
    overflow: hidden;
    transform: translateY(0);
}

.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: rgb(109, 178, 238);
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}

.border_radius4400 {
    border-radius: 4px 4px 0 0;
}

.border_radius4 {
    border-radius: 4px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .signani {
        transform: translateY(10%);
    }
}

@media (min-width: 1400px) and (max-width: 1679px) {
    .signani {
        transform: translateY(35%);
    }
}

@media (min-width: 1680px) and (max-width: 1920px) {
    .signani {
        transform: translateY(50%);
    }
}