/****** Object:  Table [dbo].[MTS.IDC_CONFIGURATIONS]    Script Date: 11/13/2017 03:54:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTS.IDC_CONFIGURATIONS](
	[Id] [int] NOT NULL,
	[KEY] [nvarchar](255) NOT NULL,
	[VALUE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_MTS.IDC_CONFIGURATIONS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MTS.IDC_DOC_APPEND]    Script Date: 11/13/2017 03:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTS.IDC_DOC_APPEND](
	[ConfigId] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
	[DocType1] [varchar](150) NOT NULL,
	[DocLocation] [varchar](50) NOT NULL,
	[DocType2] [varchar](150) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MTS.IDC_DOC_CONCATENATE]    Script Date: 11/13/2017 03:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTS.IDC_DOC_CONCATENATE](
	[ConfigId] [int] NOT NULL,
	[DocType] [varchar](150) NOT NULL,
	[ConsecutiveFlag] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MTS.IDC_DOC_CONFIG]    Script Date: 11/13/2017 03:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTS.IDC_DOC_CONFIG](
	[ConfigId] [int] NOT NULL,
	[AdvancedOptions] [varchar](50) NOT NULL,
	[Flag] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MTS.IDC_DOC_CONVERSION]    Script Date: 11/13/2017 03:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTS.IDC_DOC_CONVERSION](
	[ConfigId] [int] NOT NULL,
	[DocType] [varchar](150) NOT NULL,
	[ToDocType] [varchar](150) NOT NULL,
	[CONVERSION_RULE] [nvarchar](max) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MTS.IDC_PARENT_CHILD_MERGE_CONFIG]    Script Date: 11/13/2017 03:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTS.IDC_PARENT_CHILD_MERGE_CONFIG](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ConfigId] [bigint] NOT NULL,
	[ParentFirstPageDocType] [varchar](max) NOT NULL,
	[ChildFirstPageDocType] [varchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_MTS.IDC_ADVANCE_MERGE_CONFIG] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MTS.IDC_RULE_CONFIG]    Script Date: 11/13/2017 03:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTS.IDC_RULE_CONFIG](
	[ConfigId] [int] NOT NULL,
	[EphesoftBatchClass] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MTS.IDC_RULE_CONFIG] PRIMARY KEY CLUSTERED 
(
	[ConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MTS_FIELD_LOOKUP_MAPPING]    Script Date: 11/13/2017 03:54:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTS_FIELD_LOOKUP_MAPPING](
	[MAPPING_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SERVICE_NAME] [nvarchar](500) NOT NULL,
	[TABLE_NAME] [nvarchar](500) NOT NULL,
	[COLUMN_NAME] [nvarchar](500) NOT NULL,
	[DOCUMENT_NAME] [nvarchar](500) NOT NULL,
	[FIELD_NAME] [nvarchar](500) NOT NULL,
	[CONDITION] [nvarchar](1000) NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[MODIFIED_ON] [datetime] NOT NULL,
 CONSTRAINT [PK_FIELD_LOOKUP_MAPPING] PRIMARY KEY CLUSTERED 
(
	[MAPPING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[MTS.IDC_DOC_APPEND]  WITH CHECK ADD  CONSTRAINT [FK_MTS.IDC_DOC_APPEND_MTS.IDC_RULE_CONFIG] FOREIGN KEY([ConfigId])
REFERENCES [dbo].[MTS.IDC_RULE_CONFIG] ([ConfigId])
GO
ALTER TABLE [dbo].[MTS.IDC_DOC_APPEND] CHECK CONSTRAINT [FK_MTS.IDC_DOC_APPEND_MTS.IDC_RULE_CONFIG]
GO
ALTER TABLE [dbo].[MTS.IDC_DOC_CONCATENATE]  WITH CHECK ADD  CONSTRAINT [FK_MTS.IDC_DOC_CONCATENATE_MTS.IDC_RULE_CONFIG] FOREIGN KEY([ConfigId])
REFERENCES [dbo].[MTS.IDC_RULE_CONFIG] ([ConfigId])
GO
ALTER TABLE [dbo].[MTS.IDC_DOC_CONCATENATE] CHECK CONSTRAINT [FK_MTS.IDC_DOC_CONCATENATE_MTS.IDC_RULE_CONFIG]
GO
ALTER TABLE [dbo].[MTS.IDC_DOC_CONFIG]  WITH CHECK ADD  CONSTRAINT [FK_MTS.IDC_DOC_CONFIG_MTS.IDC_RULE_CONFIG] FOREIGN KEY([ConfigId])
REFERENCES [dbo].[MTS.IDC_RULE_CONFIG] ([ConfigId])
GO
ALTER TABLE [dbo].[MTS.IDC_DOC_CONFIG] CHECK CONSTRAINT [FK_MTS.IDC_DOC_CONFIG_MTS.IDC_RULE_CONFIG]
GO
ALTER TABLE [dbo].[MTS.IDC_DOC_CONVERSION]  WITH CHECK ADD  CONSTRAINT [FK_MTS.IDC_DOC_CONVERSION_MTS.IDC_RULE_CONFIG] FOREIGN KEY([ConfigId])
REFERENCES [dbo].[MTS.IDC_RULE_CONFIG] ([ConfigId])
GO
ALTER TABLE [dbo].[MTS.IDC_DOC_CONVERSION] CHECK CONSTRAINT [FK_MTS.IDC_DOC_CONVERSION_MTS.IDC_RULE_CONFIG]
GO
ALTER TABLE [dbo].[MTS.IDC_PARENT_CHILD_MERGE_CONFIG]  WITH CHECK ADD  CONSTRAINT [FK_MTS.IDC_ADVANCE_MERGE_CONFIG_MTS.IDC_ADVANCE_MERGE_CONFIG] FOREIGN KEY([Id])
REFERENCES [dbo].[MTS.IDC_PARENT_CHILD_MERGE_CONFIG] ([Id])
GO
ALTER TABLE [dbo].[MTS.IDC_PARENT_CHILD_MERGE_CONFIG] CHECK CONSTRAINT [FK_MTS.IDC_ADVANCE_MERGE_CONFIG_MTS.IDC_ADVANCE_MERGE_CONFIG]
GO


/****** Object:  Table [dbo].[MTS_AUTO_VALIDATION_SKIP]    Script Date: 3/8/2018 4:05:35 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[MTS_AUTO_VALIDATION_SKIP](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_NAME] [nvarchar](500) NOT NULL,
	[INSTANCE] [varchar](100) NOT NULL,
	[CREATED_ON] [datetime] NULL,
	[MODIFIED_ON] [datetime] NULL,
 CONSTRAINT [PK_MTS_AUTO_VALIDATION_SKIP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


IF  NOT EXISTS (SELECT * FROM sys.objects 
WHERE object_id = OBJECT_ID(N'[dbo].[MTS.DOCUMENT_STACKING_ORDER]') AND type in (N'U'))
Begin

CREATE TABLE [dbo].[MTS.DOCUMENT_STACKING_ORDER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ConfigID] [bigint] NOT NULL,
	[DocumentName] [varchar](max) NULL,
	[SequenceNumber] [bigint] NOT NULL,
	[CreatedON] [datetime] NOT NULL,
	[ModifiedON] [datetime] NOT NULL,
	    PRIMARY KEY (ID)
)
END

Alter Table [dbo].[MTS.IDC_DOC_CONVERSION] Add EphesoftModuleId bigint null
Go