<div [formGroup]="rulesFrmGrp" novalidate [style.display]="waitingForData ? 'none': 'block'">
    <div formArrayName="inRule">
        <div class="col-md-12 m-t-5 m-b-5">
            <div class="validErrorMsg">
                <i class="m-l-10">{{ErrorMsg}}</i>
            </div>
        </div>
        <div *ngFor="let inrule of formData.controls; let i=index" class="col-md-12">
            <div [formGroupName]="i">
                <div class="col-md-12">
                    <div class="pull-left">
                        <label class="tgl" style="font-size:14px">
                            <input formControlName="infieldsCustomValues" (change)="InFieldsChange($event,i)" type="checkbox" />
                            <span data-on="Value" class="rule_toggle" data-off="Field"></span>
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row" [id]="'invalueDisplay_'+i">
                        <div class="col-md-6">
                            <div class="form-group  m-t-25 m-b-10">
                                <select (change)="InDocTypesChanged($event,0,'InDocField')" formControlName="InDocumentTypes">
                                   <option value="" disabled selected>--Select--</option>
                                    <option *ngFor="let dtype of genDocTypes" [ngValue]="dtype.text">{{dtype.text}}</option>
                                </select>
                                <label class="control-label selected">Doc Type</label>
                                <i class="bar"></i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-t-25 m-b-10 text-left">
                                <select formControlName="InDocField">
                                    <option value=""  selected disabled>--Select--</option>
                                    <option *ngFor="let dtype of currtDocFields[0]" [ngValue]="dtype">{{dtype}}</option>
                                </select>
                                <label class="control-label selected">Doc Fields</label><i class="bar"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" [id]="'invalueDisplayed_'+i" style="display:none;">
                    <div class="form-group  m-t-25 m-b-10">
                        <input type="text" formControlName="invalueDocField">
                        <label class="control-label selected">Value</label> <i class="bar"></i>
                        <div *ngIf="isErrMsgs">
                            <span class="validErrorMsg">{{FieldErrorMsg}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-left">
                        <label class="tgl" style="font-size:14px">
                            <input formControlName="inlookupfieldsCustomValues" (change)="InLookUpFieldsChange($event,i)" type="checkbox" />
                            <span data-on="Value" class="rule_toggle" data-off="Field"></span>
                        </label>
                    </div>
                    <div class="pull-right">
                        <span class="success material-icons txt-indigo" style="cursor: pointer;" (click)="addInValues()">add_circle</span>
                    </div>
                </div>
                <div class="col-md-12" [id]="'inlookupvalueDisplay_'+i">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group  m-t-25 m-b-10">
                                <select (change)="InDocTypesChanged($event,1,'InValuesField')" formControlName="InLookUpDocumentTypes">
                                    <option value="" disabled selected>--Select--</option>
                                    <option *ngFor="let dtype of genDocTypes" [ngValue]="dtype.text">{{dtype.text}}</option>
                                </select>
                                <label class="control-label selected">Doc Type</label>
                                <i class="bar"></i>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group m-t-25 m-b-10 text-left">
                                <select formControlName="InValuesField">
                                    <option value=""  selected disabled>--Select--</option>
                                    <option *ngFor="let dtype of currtDocFields[1]" [ngValue]="dtype">{{dtype}}</option>
                                </select>
                                <label class="control-label selected">Doc Fields</label><i class="bar"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" [id]="'inlookupvalueDisplayed_'+i" style="display:none;">
                    <div class="form-group  m-t-25 m-b-10">
                        <input type="text" formControlName="inlookupvalueDocField">
                        <label class="control-label selected">Value</label> <i class="bar"></i>
                        <div *ngIf="isErrMsgs">
                            <span class="validErrorMsg">{{FieldErrorMsg}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-left">
                    <div class="form-group icon m-t-15 m-b-0 inrule">
                        <textarea style="overflow-y: auto;" rows="3" class="txt-black" formControlName="InDisValField"></textarea>
                        <label class="control-label selected">Collection</label>
                        <i class="bar"></i>
                        <span class="remove material-icons" style="cursor: pointer;" (click)="InClearField()">remove_circle</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [style.display]="waitingForData ? 'block': 'none'">
    <div class="spinner">
        <div class="double-bounce1" style="top: 65px;"></div>
        <div class="double-bounce2" style="top: 65px;"></div>
    </div>
</div>