<form [formGroup]="rulesFrmGrp" novalidate [style.display]="waitingForData ? 'none': 'block'">
    <div formArrayName="datediffRule">
        <div class="col-md-12 text-left">
            <div class="validErrorMsg">
                <i class="m-l-10">{{ErrorMsg}}</i>
            </div>
        </div>
        <div *ngFor="let datediffrule of formData.controls; let i=index">
            <div [formGroupName]="i">
                <div class="col-md-12">
                    <div class="pull-left">
                        <label class="tgl" style="font-size:14px">  
                        <input formControlName="fromDateValue" (change)="FromEditDateChange($event,i)" type="checkbox"/>
                        <span data-on="Value" class="rule_toggle" data-off="Field"></span>
                    </label>
                    </div>
                </div>
                <div *ngIf="!datediffrule.controls.fromDateValue.value" class="col-md-12">
                    <div class="row" [id]="'datevalueDisplay_0'">
                        <div class="col-md-6">
                            <div class="form-group  m-t-25 m-b-10">
                                <select (change)="DocTypesChanged($event,0,'fromDate')" formControlName="fromDateDocTypes">
                                    <option value="" disabled selected>--Select--</option>
                                    <option *ngFor="let EditFromdtype of genDocTypes" [ngValue]="EditFromdtype.text">{{EditFromdtype.text}}</option>
                                </select>
                                <label class="control-label selected">Doc Type</label>
                                <i class="bar"></i>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="datediffrule.controls.fromDateDocTypes.value !== FannieMaeDocName">
                            <div class="form-group  m-t-25 m-b-10">
                                <select formControlName="fromDate">
                                    <option value=""  selected disabled>--Select--</option>
                                    <option *ngFor="let dtype of currtDocFields[0]" [ngValue]="dtype">{{dtype}}</option>
                                </select>
                                <!-- <ng-select class="ng-select-required" formControlName="fromDate" #fromDate [items]="FromDateEditDocumentFieldMasterTypes" [multiple]="false" placeholder="No Document Field Selected"></ng-select> -->
                                <label class="control-label selected">Doc Fields</label>
                                <i class="bar"></i>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="datediffrule.controls.fromDateDocTypes.value === FannieMaeDocName">
                            <div class="form-group  m-t-25 m-b-10">
                                <input formControlName="FromDateLosdocField" [typeahead]="LosDocumentFields" (typeaheadLoading)="OnChangeFieldValue(i,'FromDateLosdocField', 'fromDateDocTypes')" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="1"
                                    placeholder="Search Fields" class="form-control">
                                <label class="control-label selected">Doc Field</label>
                                <i class="bar"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="datediffrule.controls.fromDateValue.value" [id]="'datevalueDisplayed_0'">
                    <div class="form-group  m-t-25 m-b-10">
                        <input type="text" daterangepicker [options]="dOptions" (selected)="GetEditFromDateValue($event)" formControlName="datevalueDocField">
                        <label class="control-label selected">Value</label>
                        <i class="bar"></i>
                        <div *ngIf="datediffrule.controls.fromDateValue.value">
                            <span class="validErrorMsg">{{FieldErrorMsg}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-left">
                        <label class="tgl" style="font-size:14px">  
                        <input formControlName="datefieldsCustomValues" (change)="DateEditFieldsChange($event,i)" type="checkbox"/>
                        <span data-on="Value" class="rule_toggle" data-off="Field"></span>
                    </label>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="datediffrule.controls.datefieldsCustomValues.value" [id]="'todatevalueDisplayed_0'">
                    <div class="form-group  m-t-25 m-b-10">
                        <input type="text" daterangepicker [options]="dOptions" (selected)="GetEditToDateValue($event)" formControlName="toDatevalueDocField">
                        <label class="control-label selected">Value</label>
                        <i class="bar"></i>
                        <div *ngIf="datediffrule.controls.datefieldsCustomValues.value">
                            <span class="validErrorMsg">{{FieldErrorMsg}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="!datediffrule.controls.datefieldsCustomValues.value" [id]="'todatevalueDisplay_0'">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group  m-t-25 m-b-10">
                                <select (change)="DocTypesChanged($event,1,'toDate')" formControlName="ToDateDocumentTypes">
                                <option value="" disabled selected>--Select--</option>
                                <option *ngFor="let dtype of genDocTypes" [ngValue]="dtype.text">{{dtype.text}}</option>
                            </select>
                                <label class="control-label selected">Doc Type</label>
                                <i class="bar"></i>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="datediffrule.controls.ToDateDocumentTypes.value !== FannieMaeDocName">
                            <div class="form-group  m-t-25 m-b-10">
                                <select formControlName="toDate">
                                    <option value=""  selected disabled>--Select--</option>
                                    <option *ngFor="let dtype of currtDocFields[1]" [ngValue]="dtype">{{dtype}}</option>
                                </select>
                                <!-- <ng-select class="ng-select-required" formControlName="toDate" #toDate [multiple]="false" [items]="toDateEditDocumentFieldMasterTypes" placeholder="No Document Field Selected"></ng-select> -->
                                <label class="control-label selected">Doc Fields</label>
                                <i class="bar"></i>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="datediffrule.controls.ToDateDocumentTypes.value === FannieMaeDocName">
                            <div class="form-group  m-t-25 m-b-10">
                                <input formControlName="ToDateLosdocField" [typeahead]="LosDocumentFields" (typeaheadLoading)="OnChangeFieldValue(i, 'ToDateLosdocField', 'ToDateDocumentTypes')" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="1"
                                    placeholder="Search Fields" class="form-control">
                                <label class="control-label selected">Doc Field</label>
                                <i class="bar"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 form-group m-t-25 m-b-10">
                        <select class="form-control" placeholder="No operator Selected" formControlName="dateOperator">
                        <option value="" disabled selected>--Select--</option>
                        <option *ngFor="let operator of RuleOperator" value="{{operator.id}}">{{operator.value}}</option>
                    </select>
                        <label class="control-label selected">Operator</label>
                        <i class="bar"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group m-t-25 m-b-10">
                            <input type="text" formControlName="resultField">
                            <label class="control-label selected">Difference in Days</label>
                            <i class="bar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div [style.display]="waitingForData ? 'block': 'none'">
    <div class="spinner">
        <div class="double-bounce1" style="top: 65px;"></div>
        <div class="double-bounce2" style="top: 65px;"></div>
    </div>
</div>