<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EPHESOFTDB" connectionString="Database=Report;Server=AZWSDBP02;User ID=db_intellalend;Password=Y=ss4V/+3J73z8|6GaL8;Trusted_Connection=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="INTELLADB" connectionString="Database=IntellaLend_Reporting;Server=AZWSDBP02;User ID=db_intellalend;Password=Y=ss4V/+3J73z8|6GaL8;Trusted_Connection=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="REPORTDB" connectionString="Database=IntellaLend_Reporting;Server=AZWSDBP02;User ID=db_intellalend;Password=Y=ss4V/+3J73z8|6GaL8;Trusted_Connection=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="PATTERNS" value="{0}_Document_Assembly_{1}_batch_bak.xml.zip;{0}_Automated_Validation_{1}_batch_bak.xml.zip;{0}_Export_{1}_batch_bak.xml.zip"/>
    <add key="INTERVAL" value="1"/>
    <add key="DEBUGLOG" value="true"/>
    <add key="DB_Type" value="SQL"/>
    <add key="REPORT_DATA_FOLDER" value="F:\Ephesoft\SharedFolders\mts-report-data"/>
    <add key="SYNC_EPHESOFT" value="True"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>