<div class="row" style="display: block;">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="data.clientid" name="clientid" required>
                            <label class="control-label" for="input">
                                Client Id
                            </label>
                            <i class="bar"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="data.clientsecretid" name="clientsecretid" required>
                            <label class="control-label" for="input">
                                Client Secret Id
                            </label>
                            <i class="bar"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="data.boxURL" style="border: none !important;" name="boxURL" required disabled>
                            <label class="control-label">
                                Copy & Paste the below URL in redirect URL textbox on Box
                Developer Console
                            </label>
                            <i class="bar"></i>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="data.boxUserID" name="boxUserID" required>
                            <label class="control-label">Box User-ID</label>
                            <i class="bar"></i>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="button" (click)="RedirectToBox()" class="btn btn-info waves-effect waves-light m-r-8">
                                {{ data.boxConnectStatus }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" [disabled]="!data.clientid || !data.clientsecretid" (click)="getboxvalues()" class="btn btn-info waves-effect waves-light m-r-8">
                        <span class="material-icons">save</span>
                        &nbsp;Save
                    </button>
                    <button class="btn btn-secondary waves-effect waves-light bg-white" (click)="CloseModal()" t ype="button" tabindex="8">
                        <span class="material-icons">clear</span>
                        &nbsp;Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>