<div class="m-t-15">
    <div class="row">
        <div class="col-md-12">
            <div class="table-panel box">
                <div class="box-title">
                    <div *ngIf="_reportService.ReportModel.CategoryName ==''" class="box-caption">
                        {{_reportService.ReportDescription}}
                    </div>
                    <div *ngIf="_reportService.ReportModel.CategoryName != ''" class="box-caption"> {{_reportService.ReportDescription}}
                        <img height="16" src="../../assets/images/right-arrow.png" width="16"> {{_reportService.ReportModel.CategoryName}}
                    </div>
                    <div class="box-action">
                        <button (click)="back()" title="Close" class="btn btn-danger p-l-2 p-r-2 btn-sm waves-effect waves-light pull-right" type="button">
                                <i class="material-icons">close</i>
                            </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12 text-right m-b-10" id="downloadButton"></div>
                    <div [cgBusy]="promise" class="col-md-12">
                        <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped table-borderless table-responsive" style="width: 100%;">
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>