<div class="row m-t-15">
    <div class="col-md-12" [cgBusy]="promise">
        <div class="box">
            <div class="box-title">
                <div class="box-caption">
                    <span>Document Library</span>
                </div>
                <div class="box-action">
                    <button id="dl_btnAddDT" class="btn btn-primary btn-sm waves-effect waves-light" type="button"
                        (click)="ShowDocumentTypeModal(0)"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Document
                        Type</button>
                    <button id="dl_btnEditDT" class="btn btn-success btn-sm waves-effect waves-light" type="button"
                        (click)="ShowDocumentTypeModal(1)" *ngIf="showHide[0]" [disabled]="rowSelected"><i
                            class="fa fa-pencil"></i>&nbsp;&nbsp;Edit Document Type</button>
                    <button id="dl_btnViewDT" class="btn btn-warning btn-sm waves-effect waves-light" type="button"
                        (click)="ShowDocumentTypeModal(2)" *ngIf="showHide[1]" [disabled]="rowSelected"><i
                            class="fa fa-eye"></i>&nbsp;&nbsp;View Document Type</button>
                    <button id="dl_btnViewDT" class="btn btn-warning btn-sm waves-effect waves-light" type="button"
                        (click)="confirmdataModal.show()"><i class="fa fa-refresh"></i>&nbsp;&nbsp;EnableSync</button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-panel">
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions"
                                    class="table table-bordered table-striped table-hover" style="width: 100%;">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #confirmdataModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" class="modal fade"
    role="dialog">
    <div class="modal-dialog modal-sm" style="width:510px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm
                    <span class="pull-right" (click)="Close()" style="cursor: pointer"><i class="material-icons">
                            close</i></span>
                </h5>
            </div>
            <hr class="fancy-line">
            <div class="modal-body">
                <div>
                    Do you want to sync document library to all the Lenders ? </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect waves-light" (click)="SyncDocTypes()">
                    <i class="material-icons">check_circle</i>
                    &nbsp; Yes<span *ngIf="showLoading" class="fa fa-spinner fa-pulse fa-fw"></span>
                    </button>
                <button type="button" class="btn btn-default bg-white waves-effect waves-light" type="button"
                    (click)="Close()"><i class="material-icons">cancel</i>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
