<div class="m-t-15">
    <div class="row">

        <mts-kpi-user-groups></mts-kpi-user-groups>

        <div class="col-md-6">
            <mts-loan-qc-index></mts-loan-qc-index>
        </div>

        <div class="col-md-6">
            <mts-loan-defects></mts-loan-defects>
        </div>

        <div class="col-md-6">
            <mts-house-loan-management></mts-house-loan-management>
        </div>

        <div class="col-md-6">
            <mts-failed-rules-loan></mts-failed-rules-loan>
        </div>

        <div class="col-md-6">
            <mts-missing-documents-loan></mts-missing-documents-loan>
        </div>

        <div class="col-md-6">
            <mts-investor-stipulations></mts-investor-stipulations>
        </div>

        <div class="col-md-6">
            <mts-document-retention-monitor></mts-document-retention-monitor>
        </div>
        <div class="col-md-6">
            <mts-data-entry-work-load></mts-data-entry-work-load>
        </div>
        <div class="col-md-12">
            <mts-idc-workload-report></mts-idc-workload-report>
        </div>
    </div>
</div>