<div class="row m-t-15">
    <div class="col-md-8 col-md-offset-2">
        <div class="box" style="min-height: 400px;">
            <div class="box-title">
                <div class="box-caption">
                    <span>View Document Type</span>
                </div>
                <div class="box-action">
                    <button (click)="CloseViewDoc()" title="Close" class="btn btn-danger p-l-2 p-r-2 btn-sm waves-effect waves-light" type="button">
        <i class="material-icons">close</i>
      </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <div class="text-right pu_toggle">
                        <label class="tgl" style="font-size:14px">                
        <input [(ngModel)]="_manageViewDocumentTypeData.Active"  name="Active" type="checkbox"  disabled="disabled"/>
        <span data-on="Active" data-off="Inactive"></span>
    </label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" class="form-control mandatory" name="DocumentTypeName" [(ngModel)]="_manageViewDocumentTypeData.Name" required="" disabled>
                        <label class="control-label" for="input">Document Name</label><i class="bar"></i>
                    </div>
                </div>
                <div class="col-md-5" style="display: none;">
                    <div class="form-group">
                        <select id="select1" [(ngModel)]="_manageViewDocumentTypeData.DocumentLevel" disabled>
            <option value="0" >Non-Critical</option>                                    
            <option value="11" >Critical</option>                                    
        </select>
                        <label class="control-label" for="input">Document Level</label><i class="bar"></i>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" class="form-control mandatory" name="DocumentDisplayName" [(ngModel)]="_manageViewDocumentTypeData.DisplayName" required="" disabled>
                        <label class="control-label" for="input">Document Display Name</label><i class="bar"></i>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" class="form-control mandatory" name="custName" [(ngModel)]="_manageViewDocumentTypeData.CustomerName" required="" disabled>
                        <label class="control-label" for="input">{{AuthorityLabelSingular}} Name</label><i class="bar"></i>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" class="form-control mandatory" name="LoanTypeName" [(ngModel)]="_manageViewDocumentTypeData.LoanTypeName" required="" disabled>
                        <label class="control-label" for="input">LoanType Name</label><i class="bar"></i>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>