<div class="row" style="display: block;">
    <div class="col-md-12">
        <div class="table-panel box">
            <div class="box-body">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped table-borderless table-responsive" style="width: 100%;"></table>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


<div bsModal #loanSearchFieldsModal="bs-modal" [config]="{ backdrop: 'static', keyboard: false }" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md" style="width: 510px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
            </div>
            <hr class="fancy-line">
            <div class="modal-body m-t-30">
                <div class="row">
                    <div class="col-md-6">
                        <label>{{ Items.ConfigValue }}</label>
                    </div>
                    <div class="col-md-6">
                        <div class="text-left pu_toggle">
                            <label class="tgl" style="font-size: 14px;">
                                <input
                                    [checked]="Items.Active"
                                    (change)="changeMode()"
                                    name="Active"
                                    type="checkbox"
                                >
                                <span
                                    data-on="Active"
                                    data-off="Inactive"
                                ></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info waves-effect waves-light" (click)="
            UpdateLoanSearchFilterStatus(Items.ConfigID, Items.Active, Items)
          ">
                    <span class="material-icons">save</span>
                    &nbsp;&nbsp;Save
                </button>
                <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal" (click)="modalHide(Items)">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>