<div class="m-t-15">
    <div class="col-md-4 col-md-offset-4">
        <div class="box">
            <div class="box-title">
                <div class="box-caption">
                    <span>Reset Password</span>
                </div>
            </div>
            <div class="box-body p-t-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <div class="form-group">
                                <input type="password" name="Question" class="form-control mandatory" [(ngModel)]="currentPwd" id="CurrentPassword" required="">
                                <label class="control-label" for="input">Current Password</label><i class="bar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="">
                            <div class="form-group pwd_tooltip">
                                <ng-template #myTooltip class="" isFade="true" placement="left">
                                    <span placement="right" class=" txt-indigo pwd-heading">Password must include:</span>
                                    <ul>
                                        <li><span placement="right" [style.color]="isMinLengthValid">8-20 Characters</span></li>
                                        <li><span placement="right" [style.color]="isUpperCaseCharacterExist">At least one capital letter</span></li>
                                        <li><span placement="right" [style.color]="isNumberExist">At least one number</span></li>
                                        <li><span placement="right" [style.color]="isValid">At least one special character</span></li>
                                    </ul>
                                </ng-template>
                                <input placement="right" [tooltip]="myTooltip" triggers="focus" type="password" name="Answer" class="form-control mandatory" [(ngModel)]="newPwd" (ngModelChange)="CheckPasswordPolicy()" id="NewPassword" required="">
                                <label class="control-label" for="input">New Password</label><i class="bar"></i>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="">
                            <div class="form-group">
                                <input type="password" class="form-control mandatory" name="password" [(ngModel)]="confirmPwd" id="ConfirmPassword" required="">
                                <label class="control-label" for="input">Confirm Password</label><i class="bar"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class=" m-t-20">
                            <button class="btn btn-block btn-info waves-effect waves-light m0" (click)="submitForm()" id="submitForm" [disabled]="isDisabled" type="button"><i class="material-icons">check_circle</i>&nbsp;&nbsp;Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>