<div class="m-t-50">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 ">
            <div class="box">
                <div class="box-title" style="cursor: pointer;">
                    <div class="box-caption">
                        <span>Error </span>
                    </div>
                </div>
                <div class="box-body">
                    <div class="card-spc">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">Current Status :</div>
                                <div class="col-md-6"><b>{{LoanViewerIssues.CurrentStatus}} </b></div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">Current BatchID :</div>
                                <div class="col-md-6"><b>{{LoanViewerIssues.BatchID}}</b></div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">Current LoanNumber :</div>
                                <div class="col-md-6"><b>{{LoanViewerIssues.LoanNumber}} </b></div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">Message :</div>
                                <div class="col-md-6"><b><span style="color: red;">{{LoanViewerIssues.Message}}</span></b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>