.page-content-wrapper {
    height: 100%;
    min-height: 100%;
}

.navigation {
    text-align: center;
}

.navigation>a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
}

.horizontal .slides {
    overflow: hidden;
}

.horizontal .slides>div {
    position: absolute;
    width: 100%;
    left: 100%;
    opacity: 0;
    -webkit-transition: left 0.5s ease-in-out, opacity 0.5s ease;
    transition: left 0.5s ease-in-out, opacity 0.5s ease;
    height: calc(100vh - 160px);
    transform: scale(0.97);
}

.horizontal .slides>div>.box .box-body {
    height: calc(100vh - 275px);
    overflow-y: auto;
    overflow-x: hidden;
}

.form-group .bar {
    position: relative;
    border-bottom: 1px solid #ccc;
    display: block;
    text-align: center;
}

@supports (scroll-snap-type) {
    .horizontal .slider>a {
        display: none;
    }
}

.horizontal .slider {
    width: 100%;
    #progressbar {
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
        padding-left: 15px;
        margin-bottom: 0;
    }
}

#progressbar li a {
    position: relative;
    display: block;
    bottom: 50px;
    height: 50px;
}

#progressbar li {
    list-style-type: none;
    color: white;
    font-size: 9px;
    width: 50%;
    float: left;
    position: relative;
    text-align: center;
    font-family: FontAwesome;
    top: 40px;
    height: 60px;
    padding: 0 5px;
}

#progressbar li:before {
    content: '\f00d';
    counter-increment: step;
    width: 19px;
    line-height: 19px;
    display: block;
    font-size: 10px;
    color: #333;
    background: #efefef;
    border-radius: 50%;
    margin: 0 auto 5px auto;
}


/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #efefef;
    position: absolute;
    left: 50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
    transition: all ease 0.3s;
}

#progressbar li:last-child:after {
    /*connector not needed before the first step*/
    content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressbar li.active:before {
    background: #ff0707;
    color: white;
    content: '\f068';
}

#progressbar li.complete:before {
    content: '\f00c';
    color: white;
    background: #27AE60;
    transition: all ease 0.5s;
}

#progressbar li.complete:after {
    background: #27AE60;
    transition: all ease 0.3s;
}

.horizontal .slides {
    /* height: 512px; */
    height: calc(100vh - 160px);
}

@media (min-width: 1280px) and (max-width: 1366px) {}

@media (min-width: 1367px) and (max-width: 1600px) {}

@media (min-width: 1601px) and (max-width: 1920px) {}

.transForm {
    left: 0!important;
    z-index: 1!important;
    opacity: 1!important;
}

.row-centered {
    text-align: center;
    transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
}

.col-centered {
    display: inline-block;
    float: none;
    vertical-align: middle;
    text-align: left;
    margin-right: -4px;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.review_type {
    margin-top: 100px;
    transition: all ease 0.5s;
    padding: 12px 15px 12px;
    box-shadow: 0 3px 6px rgba(78, 75, 73, 0.22);
    border: 1px solid #eee;
}

.review_detail {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: all ease 0.5s;
}

.loan_type {
    margin-top: 90px;
    transition: all ease 0.5s;
    padding: 12px 15px 12px;
}

.list-group {
    height: calc(100vh - 451px);
    overflow-y: auto;
    border: 1px solid #e4e4e4;
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .review_type {
        margin-top: 50px;
    }
    .review_type-ani {
        margin-top: 0px;
    }
    .loan_type-aniTop {
        padding: 12px 15px 12px;
        margin-top: 30px;
    }
}

.draganddrop {
    padding: 8px 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: move;
    border-color: rgba(57, 106, 156, 0.6)
}

.text-col-green {
    color: #2E7D32;
    cursor: pointer;
}

.review_detail {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: all ease 0.5s;
}

.selected {
    font-size: 23px !important;
    font-weight: 300;
    text-overflow: ellipsis;
}

.sto_list {
    height: calc(100vh - 335px);
    overflow-y: auto;
    border: 1px solid #e4e4e4;
}

.form-radio,
.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    left: 200px;
}