.draganddrop {
    padding: 8px 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 8px;
    cursor: move;
    border-color: rgba(57, 106, 156, 0.6)
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.DropHighlight {
    border: 2px solid #FF8A65;
}

.SelectHighlight {
    border: 2px solid #FF8A65;
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.draganddrop:nth-child(odd) {
    background-color: #f9f9f9;
}

.draganddrop i {
    top: 4px;
    position: relative;
}

.draganddrop span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 94%;
    display: inline-block;
    vertical-align: middle;
}

.review_type-ani {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    padding: 12px 15px 12px;
    margin-top: 50px;
}

.text-col-green {
    color: #2E7D32;
    cursor: pointer;
}

.review_detail {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: all ease 0.5s;
}

.loan_type {
    margin-top: 90px;
    transition: all ease 0.5s;
    padding: 12px 15px 12px;
}

.loan_type-ani,
.stack_check-ani {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    box-shadow: 0 3px 6px rgba(78, 75, 73, 0.22);
    border: 1px solid #eee;
}

.loan_type-aniTop {
    padding: 12px 15px 12px;
    margin-top: 70px;
}

.loan_type-trans {
    background-color: transparent;
    box-shadow: none;
}

.check_list,
.stacking_order {
    margin-top: 70px;
    padding: 12px 15px 12px;
    box-shadow: 0 3px 6px rgba(78, 75, 73, 0.22);
    border: 1px solid #eee;
}

.review_type {
    margin-top: 100px;
    transition: all ease 0.5s;
    padding: 12px 15px 12px;
    box-shadow: 0 3px 6px rgba(78, 75, 73, 0.22);
    border: 1px solid #eee;
}

.selected {
    font-size: 23px !important;
    font-weight: 300;
    text-overflow: ellipsis;
}

.selected option {
    font-size: 14px;
}

.list-group {
    height: calc(100vh - 350px);
    overflow-y: auto;
    border: 1px solid #e4e4e4;
}

.list-group li {
    padding: 10px 0 10px 5px;
    cursor: pointer;
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .review_type {
        margin-top: 50px;
    }
    .review_type-ani {
        margin-top: 0px;
    }
}

.rot180 {
    transform: rotate(180deg);
}

li.selected-item {
    background-color: #1f88e5;
    color: #fff;
}

.sto_list {
    height: calc(100vh - 445px);
    overflow-y: auto;
    border: 1px solid #e4e4e4;
}

.dragScroll2 {
    min-height: 140px;
}