<div class="row m-t-15" [cgBusy]="promise">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <div class="box-caption">
                    <span>User Administration</span>
                </div>
                <div class="box-action">
                    <button class="btn btn-primary btn-sm waves-effect waves-light" type="button" (click)="ShowUserModal(0)" *ngIf="showHide[0]"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add
                        User</button>
                    <button class="btn btn-success btn-sm waves-effect waves-light" type="button" (click)="ShowUserModal(1)" *ngIf="showHide[1]" [disabled]="rowSelected"><i
                            class="fa fa-pencil"></i>&nbsp;&nbsp;Edit User</button>
                    <button class="btn btn-warning btn-sm waves-effect waves-light" type="button" (click)="ShowUserModal(2)" *ngIf="showHide[2]" [disabled]="rowSelected"><i
                            class="fa fa-eye"></i>&nbsp;&nbsp;View User</button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-panel">
                            <table #usertable datatable [dtOptions]="dtOptions" class="table table-bordered table-striped table-hover" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>