<div class="row" style="display: block;">
    <div class="col-md-12">
        <div class="table-panel box">
            <div class="box-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control mandatory" name="PasswordExpiryDays" [(ngModel)]="_passwordPolicy.PasswordExpiryDays" required>
                                <label class="control-label" for="input">
                                    Password Expiry Days
                                </label>
                                <i class="bar"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="storePassword" class="form-group custGroup">
                                <input type="checkbox" [(ngModel)]="_passwordPolicy.StoreOldPassword" (change)="
                    SetKeyValue($event, _passwordPolicy.StoreOldPassword)
                  ">
                                <input type="text" class="form-control" name="NoOfOldPassword" [(ngModel)]="_passwordPolicy.NoOfOldPassword" required>
                                <label style="margin-left: 32%;" class="control-label selected">
                                    Store Old Password
                                </label>
                                <i class="bar"></i>
                                <span id="oldPasswordSpan" class style="font-size: smaller; padding-left: 12%; display: none;">
                                    *Number Of Old Password
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row m-t-20">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-info waves-effect waves-light m-r-8" type="button" (click)="SavePasswordPolicy()">
                            <i class="material-icons">save</i>
                            &nbsp;Save
                        </button>
                        <button type="button" class="btn btn-secondary waves-effect waves-light bg-white" type="button" (click)="CancelPasswordPolicy()">
                            <i class="material-icons">clear</i>
                            &nbsp;Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>