<div class="p20">
    <div class="m-t-15">
        <div class="row">
            <div class="col-md-12">
                <div class="box-title">
                    <button type="button" class="btn btn-info btn-sm waves-effect m-r-5 waves-light m5 pull-right" (click)="Addbatch()">
                                            <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;New Job</button>
                </div>
                <div class="box-body">
                    <div class="card-spc">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group m-b-0">
                                    <select id="bu_drpCustomer" [(ngModel)]="edata.customerSelect">
                                                            <option [ngValue]="0">--Select {{AuthorityLabelSingular}}--</option>
                                                            <option *ngFor="let cust of edata.commonActiveCustomerItems"
                                                                [ngValue]="cust">
                                                                {{cust.text}}</option>
                                                        </select>
                                    <label class="control-label" for="input"> {{AuthorityLabelSingular}}</label>
                                    <i class="bar"></i>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group m-b-0">
                                    <select id="bu_drpStatus" [(ngModel)]="edata.ExportStatus">
                                                            <option [ngValue]="-1">--Select Status--</option>
                                                            <option [ngValue]="301">Job Export Waiting</option>
                                                            <option [ngValue]="302">Job Export Processing</option>
                                                            <option [ngValue]="303">Job Export Failed</option>
                                                            <option [ngValue]="304">Job Exported</option>
                                                            <option [ngValue]="305">Job Deleted</option>
                                                        </select>
                                    <label class="control-label" for="input">Status</label>
                                    <i class="bar"></i>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label selected" for="input">Job
                                                            Date</label>
                                    <ng-daterangepicker id="ls_dtReceivedDate" #receivedDate [options]="options">
                                    </ng-daterangepicker>
                                    <i class="bar"></i>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button class="btn btn-info waves-effect m-r-5 waves-light" id="ls_btnSearch" (click)="SearchBatchLoan(receivedDate.dateFrom, receivedDate.dateTo)" type="button" tabindex="9">
                                                            <span
                                                                class="material-icons">search</span>&nbsp;Search</button>
                                    <button class="btn btn-secondary waves-effect waves-light bg-white" id="ls_btnReset" (click)="reset()" type="button" tabindex="10"><span
                                                                class="material-icons">settings_backup_restore</span>&nbsp;Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table datatable id='loanexportmonitor' [dtOptions]="dtOptions" class="table table-bordered table-striped table-borderless table-responsive" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
<div bsModal #confirmModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm" style="width:510px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Job
                    <span class="pull-right" (click)="confirmModal.hide()" style="cursor: pointer">
                        <i class="material-icons"> close</i>
                    </span>
                </h5>
            </div>
            <hr class="fancy-line">
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <select id="bu_drpCustomer" [(ngModel)]="edata.AddCustomer" (ngModelChange)="setCustomer(edata.AddCustomer)">
                                <option [ngValue]="0">--Select {{AuthorityLabelSingular}}--</option>
                                <option *ngFor="let cust of edata.commonActiveCustomerItems" [ngValue]="cust">{{cust.text}}</option>
                            </select>
                            <label class="control-label" for="input">{{AuthorityLabelSingular}}</label>
                            <i class="bar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect m-r-5 waves-light" type="button" (click)="savebatch(edata.AddCustomer)">
                    <i class="material-icons">save</i>&nbsp;Save</button>
                <button type="button" class="btn btn-secondary bg-white waves-effect waves-light" type="button" (click)="confirmModal.hide()">
                    <i class="material-icons">cancel</i>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #viewmodel="bs-modal" [config]="{backdrop: 'static', keyboard: false}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="padding-top: 49px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Job Loans
                    <span class="pull-right" (click)="CloseViewModal()" style="cursor: pointer">
                        <i class="material-icons"> close</i>
                    </span>
                </h5>
            </div>
            <hr class="fancy-line">
            <div class="modal-body">
                <div class="table-panel m-t-20">

                    <div class="batchloan">
                        <table datatable id="batchloantable" [dtOptions]="BatchLoanDtOptions" class="table table-bordered table-striped table-borderless table-responsive" style="width: 100%;">
                        </table>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary bg-white waves-effect waves-light" type="button" (click)="CloseViewModal()">
                    <i class="material-icons">cancel</i>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
</div>
<div bsModal #Deletemodel="bs-modal" [config]="{backdrop: 'static', keyboard: false}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm" style="width:730px !important; padding-top: 49px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm
                    <span class="pull-right" (click)="Deletemodel.hide()" style="cursor: pointer">
                        <i class="material-icons"> close</i>
                    </span>
                </h5>
            </div>
            <hr class="fancy-line">
            <div class="modal-body">
                <div>
                    <p>Do you want to delete this job ?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="BatchDeletemodel()" class="btn btn-success waves-effect waves-light m-l-5">
                    <i class="material-icons">check_circle</i> &nbsp;&nbsp;Confirm
                </button>
                <button type="button" class="btn btn-danger waves-effect waves-light" type="button" (click)="Deletemodel.hide()">
                    <i class="material-icons">cancel</i>&nbsp;No</button>
            </div>
        </div>
    </div>
</div>


<div bsModal #retryalert="bs-modal" [config]="{backdrop: 'static', keyboard: false}" class="modal fade" role="dialog">

    <div class="modal-dialog modal-sm" style="widows: 500px !important; padding-top: 49px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm
                    <span class="pull-right" (click)="retryalert.hide()" style="cursor: pointer">
                        <i class="material-icons"> close</i>
                    </span>
                </h5>
            </div>
            <hr class="fancy-line">
            <div class="modal-body">
                <div>
                    <p>Do you want to retry loan export?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="RetryExport()" class="btn btn-success waves-effect waves-light m-l-5">
                    <i class="material-icons">check_circle</i> &nbsp;&nbsp;Confirm
                </button>
                <button type="button" class="btn btn-danger waves-effect waves-light" type="button" (click)="retryalert.hide()">
                    <i class="material-icons">cancel</i>&nbsp;No</button>
            </div>
        </div>
    </div>
</div>